<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>first</display-name>
    <servlet-name>first</servlet-name>
    <servlet-class>sec01.ex01.first</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <display-name>Chapter08</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>firstServlet</display-name>
    <servlet-name>firstServlet</servlet-name>
    <servlet-class>sec01.ex01.firstServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>secondServlet</display-name>
    <servlet-name>secondServlet</servlet-name>
    <servlet-class>sec01.ex01.secondServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>sec02.ex02.ViewServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SetServletContext</display-name>
    <servlet-name>SetServletContext</servlet-name>
    <servlet-class>sec03.ex01.SetServletContext</servlet-class>
  </servlet>
  <context-param>
    <param-name>menu_member</param-name>
    <param-value>회원등록 회원조회 회원수정</param-value>
  </context-param>
  <context-param>
    <param-name>menu_order</param-name>
    <param-value>주문조회 주문등록 주문수정 주문취소</param-value>
  </context-param>
  <context-param>
    <param-name>menu_goods</param-name>
    <param-value>상품조회 상품등록 상품수정 상품삭제</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoadConfig</display-name>
    <servlet-name>LoadConfig</servlet-name>
    <servlet-class>sec04.ex02.LoadAppConfig</servlet-class>
  </servlet>
</web-app>